<!DOCTYPE html>
<html>
<head>
  <title>Add widgets dynamically gridster.js</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    
    <link href="/stylesheets/status_panel.css" rel="stylesheet" media="screen">    
  <style type="text/css">
 
  </style>
    <script type="text/javascript" src = "/javascripts/jquery2.js"></script>
    <script type="text/javascript" src = "/javascripts/timeFormat.js"></script>
    <script type="text/javascript" src = "/javascripts/underscore.js"></script>
    <script type="text/javascript">
      // var deviceInfo = {id: 'rfidReader1', name: 'RFID读写器1', subText: '智能货架中的读写器', status: 1};
      var devices = [
                      {id: 'rfidReader1', name: 'RFID读写器1', subText: '智能货架中的读写器', status: 1}
                      ,{id: 'server1', name: '服务器1', subText: '系统服务器', status: -1}
                    ];
      $(document).ready(function(){
          appendDevice();

          setInterval(changeTime, 1000);
      });
      function changeTime(){
          var time = new Date().format('hh:mm:ss');
          _.each(devices, function(deviceInfo){
              $('#status_' + deviceInfo.id).text(time);
              // updateDeviceStatus(deviceInfo);
              // deviceInfo.status = -deviceInfo.status;              
          });
      }
      function appendDevice(){
          _.each(devices, function(deviceInfo){
              if($('#container_' + deviceInfo.id).length <= 0){
                  var ele = '<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">' + 
                                '<div class="panel_container" id = "container_'+ deviceInfo.id +'">' +
                                  '<div class = "panel_main_text_warn" id="main_text_'+ deviceInfo.id +'" >'+ deviceInfo.name +'</div>' +
                                  '<div class = "panel_sub_status_warn" id="status_'+ deviceInfo.id +'">20:18:35</div>' +
                                  '<div class = "panel_sub_status_split_line"></div>' + 
                                  '<div class = "panel_sub_text_warn" id="sub_text_'+ deviceInfo.id +'">'+ deviceInfo.subText +'</div>' + 
                                '</div>' +
                            '</div>';
                  $('#row_container').append(ele);                
              }
          });        
      }
      function updateDeviceStatus(_deviceInfo){
          switch(_deviceInfo.status){
            case 1:
              $('#main_text_'+_deviceInfo.id).attr('class', 'panel_main_text_running');
              $('#status_'+_deviceInfo.id).attr('class', 'panel_sub_status_running');
              $('#sub_text_'+_deviceInfo.id).attr('class', 'panel_sub_text_running');
            break;
            case -1:
              $('#main_text_'+_deviceInfo.id).attr('class', 'panel_main_text_stopped');
              $('#status_'+_deviceInfo.id).attr('class', 'panel_sub_status_stopped');
              $('#sub_text_'+_deviceInfo.id).attr('class', 'panel_sub_text_stopped');            
            break;
            case 0: 
              $('#main_text_'+_deviceInfo.id).attr('class', 'panel_main_text_warn');
              $('#status_'+_deviceInfo.id).attr('class', 'panel_sub_status_warn');
              $('#sub_text_'+_deviceInfo.id).attr('class', 'panel_sub_text_warn');  
            break;
          }        
      }
    </script>
</head>

<body>
    <div class="container" id = "container">
      <div class="row" id = "row_container">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="panel_container">
              <div class = "panel_main_text_running">RFID读写器</div>
              <div class = "panel_sub_status_running">20:18:34</div>
              <div class = "panel_sub_status_split_line"></div>
              <div class = "panel_sub_text_running">智能货架中的读写器</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="panel_container">
              <div class = "panel_main_text_stopped">RFID读写器</div>
              <div class = "panel_sub_status_stopped">20:18:34</div>
              <div class = "panel_sub_status_split_line"></div>
              <div class = "panel_sub_text_stopped">智能货架中的读写器</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="panel_container">
              <div class = "panel_main_text_warn">RFID读写器</div>
              <div class = "panel_sub_status_warn">20:18:34</div>
              <div class = "panel_sub_status_split_line"></div>
              <div class = "panel_sub_text_warn">智能货架中的读写器</div>
            </div>
        </div>

      </div>
    </div>


</body>
</html>
