<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<title>设备状态监控系统</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    
    <link href="/stylesheets/status_panel.css" rel="stylesheet" media="screen">    

    <script type="text/javascript" src = "/javascripts/jquery2.js"></script>
    <script type="text/javascript" src = "/javascripts/timeFormat.js"></script>
    <script type="text/javascript" src = "/javascripts/underscore.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

<script language="javascript" type="text/javascript">
    // var wsUri = "ws://localhost:3003/";
	var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length);
    var output;
    var devices = [];

    $(document).ready(function(){
        output = document.getElementById("output");

      createWebSocket();
      setInterval(changeTime, 1000);
    });
    function changeTime(){
      var time = new Date().format('hh:mm:ss');
      _.each(devices, function(deviceInfo){
            var ele = $('#status_' + deviceInfo.id);
            if(ele.length > 0){
               ele.text(time);
            }
      });
    } 
      function appendDevice(){
          _.each(devices, function(deviceInfo){
              if($('#container_' + deviceInfo.id).length <= 0){
                  var ele = '<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">' + 
                                '<div class="panel_container" id = "container_'+ deviceInfo.id +'">' +
                                  '<div class = "panel_main_text_warn" id="main_text_'+ deviceInfo.id +'" >'+ deviceInfo.name +'</div>' +
                                  '<div class = "panel_sub_status_warn" id="status_'+ deviceInfo.id +'">20:18:35</div>' +
                                  '<div class = "panel_sub_status_split_line"></div>' + 
                                  '<div class = "panel_sub_text_warn" id="sub_text_'+ deviceInfo.id +'">'+ deviceInfo.subText +'</div>' + 
                                '</div>' +
                            '</div>';
                  $('#row_container').append(ele);
              }
          });        
      }
      function updateDeviceStatus(_deviceInfo){
          switch(_deviceInfo.status){
            case 1:
              $('#main_text_'+_deviceInfo.id).attr('class', 'panel_main_text_running');
              $('#status_'+_deviceInfo.id).attr('class', 'panel_sub_status_running');
              $('#sub_text_'+_deviceInfo.id).attr('class', 'panel_sub_text_running');
            break;
            case -1:
              $('#main_text_'+_deviceInfo.id).attr('class', 'panel_main_text_stopped');
              $('#status_'+_deviceInfo.id).attr('class', 'panel_sub_status_stopped');
              $('#sub_text_'+_deviceInfo.id).attr('class', 'panel_sub_text_stopped');            
            break;
            case 0: 
              $('#main_text_'+_deviceInfo.id).attr('class', 'panel_main_text_warn');
              $('#status_'+_deviceInfo.id).attr('class', 'panel_sub_status_warn');
              $('#sub_text_'+_deviceInfo.id).attr('class', 'panel_sub_text_warn');  
            break;
          }        
      }       
    function createWebSocket() {
        websocket = new WebSocket(wsUri);
        websocket.onopen = function (evt) { onOpen(evt) };
        websocket.onclose = function (evt) { onClose(evt) };
        websocket.onmessage = function (evt) { onMessage(evt) };
        websocket.onerror = function (evt) { onError(evt) };
    }
    function onOpen(evt) {

        // writeToScreen("CONNECTED");
    }
    function onClose(evt) {

        // writeToScreen("DISCONNECTED");
    }
    function onMessage(evt) {
        // writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data+'</span>');
        console.log('message => ' + evt.data);
        var state = JSON.parse(evt.data);
        var findedDevice = _.findWhere(devices, {id: state.id});
        if(findedDevice == null){
            devices.push(state);
            appendDevice();
            updateDeviceStatus(state);                
        }else{
            if(findedDevice.status != state.status){
                findedDevice.status = state.status;
                updateDeviceStatus(findedDevice);
            }
        }
        // writeToScreen(state.name + ' => ' + state.status);
    }
    function onError(evt) {
        writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
    }
    function doSend(message) {
        writeToScreen("SENT: " + message);
        websocket.send(message);
    }
    function writeToScreen(message) {
        var pre = document.createElement("p");
        pre.style.wordWrap = "break-word";
        pre.innerHTML = message;
        output.appendChild(pre);
    }
</script>
</head>
<body>
    <div class="container" id = "container">
      <div class="row" id = "row_container">

      </div>
    </div>

<div id="output"></div>
</body>
</html>
  
  