<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/metro/metro-bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/metro/metro-bootstrap-responsive.css">
        <link rel="stylesheet" href="/stylesheets/metro/iconFont.css">
        <link rel="stylesheet" href="/stylesheets/metro/prettify.css">
        <script src="/javascripts/jquery2.js"></script>
        <script src="/javascripts/jquery.widget.min.js"></script>
        <script src="/javascripts/metro/metro.min.js"></script>
    </head>
    <body class="metro">
   <div class="tile-area tile-area-dark">
        <h1 class="tile-area-title fg-white">Start</h1>

        <div class="tile-group six">

            <a class="tile double bg-lightBlue live" data-role="live-tile" data-effect="slideUp" data-click="transform">
                <div class="tile-content email">
                    <div class="email-image">
                        <img src="images/obama.jpg">
                    </div>
                    <div class="email-data">
                        <span class="email-data-title">Barak Obama</span>
                        <span class="email-data-subtitle">You're invited</span>
                        <span class="email-data-text">I hope that you can make and make</span>
                    </div>
                </div>
                <div class="tile-content email">
                    <div class="email-image">
                        <img src="images/jolie.jpg">
                    </div>
                    <div class="email-data">
                        <span class="email-data-title">Jolie &amp; Bred</span>
                        <span class="email-data-subtitle">You're invited</span>
                        <span class="email-data-text">I hope that you can make and make</span>
                    </div>
                </div>
                <div class="tile-content email">
                    <div class="email-image">
                        <img src="images/shvarcenegger.jpg">
                    </div>
                    <div class="email-data">
                        <span class="email-data-title">Arny</span>
                        <span class="email-data-subtitle">You're invited</span>
                        <span class="email-data-text">I hope that you can make and make</span>
                    </div>
                </div>
                <div class="brand">
                    <div class="label"><h3 class="no-margin fg-white"><span class="icon-mail"></span></h3></div>
                    <div class="badge">3</div>
                </div>
            </a> <!-- end tile -->

            <a class="tile double bg-violet" data-click="transform">
                <div class="tile-content">
                    <div class="text-right padding10 ntp">
                        <h1 class="fg-white no-margin">10</h1>
                        <p class="fg-white">Sunday</p>
                    </div>
                </div>
                <div class="brand">
                    <div class="label"><h3 class="no-margin fg-white"><span class="icon-calendar"></span></h3></div>
                </div>
            </a> <!-- end tile -->

            <div class="tile" data-click="transform">
                <div class="tile-content image">
                    <img src="images/clouds.jpg">
                </div>
                <div class="brand">
                    <div class="label fg-amber">Photos</div>
                </div>
            </div> <!-- end tile -->

            <!-- small tiles -->
            <a href="#" class="tile half bg-darkRed" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-camera"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-darkOrange" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-headphones"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-green" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-steering-wheel"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-darkPink" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-pictures"></span>
                </div>
            </a>
            <!-- end small tiles -->

            <a class="tile double double-vertical bg-steel" data-click="transform">
                <div class="tile-content" style="background: url(images/clouds2.png)">
                    <div class="padding10">
                        <h1 class="fg-white ntm">57&deg;</h1>
                        <h2 class="fg-white no-margin">San Francisco</h2>
                        <h5 class="fg-white no-margin">Party Cloudy</h5>
                        <p class="tertiary-text fg-white no-margin">Today</p>
                        <p class="tertiary-text fg-white">63&deg;/55&deg; Mostly Clear</p>
                        <p class="tertiary-text fg-white no-margin">Tomorrow</p>
                        <p class="tertiary-text fg-white">64&deg;/54&deg; Mostly Clear</p>
                    </div>

                </div>
                <div class="tile-status">
                    <div class="label">Weather</div>
                </div>
            </a> <!-- end tile -->

            <div class="tile double" data-click="transform">
                <div class="tile-content image-set">
                    <img src="images/jeki_chan.jpg">
                    <img src="images/jek_vorobey.jpg">
                    <img src="images/jolie.jpg">
                    <img src="images/obama.jpg">
                    <img src="images/shvarcenegger.jpg">
                </div>
            </div> <!-- end tile -->

            <a href="#" class="tile bg-lightBlue" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-IE"></span>
                </div>
                <div class="brand">
                    <div class="label">Internet Explorer</div>
                </div>
            </a>

            <a href="#" class="tile bg-darkOrange" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-help"></span>
                </div>
                <div class="brand">
                    <div class="label">Help+Tips</div>
                </div>
            </a>

            <a class="tile double bg-lightBlue" data-click="transform">
                <div class="tile-content image">
                    <img src="images/windows_8_default_13_wallpaper.jpg">
                </div>
                <div class="brand">
                    <div class="label">Desktop</div>
                </div>
            </a>

            <a class="tile double bg-darkGreen" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-cart-2"></span>
                </div>
                <div class="brand">
                    <div class="label">Store</div>
                </div>
            </a>
        </div> <!-- End group -->
</div>


    </body>
</html>